.footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.list li {
    margin: 0 1em;
}

.list li:hover {
    color: #FFBB33;
}

.list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 1em;
}

.copyright span {
    font-weight: bold;
    color: #FFBB33;
}

.iconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.iconLink:hover {
    opacity: 0.8;
}