* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background: #efefef;
  height: 100%;
}

.btn-custom {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
}

.btn-custom:hover {
  color: #FFBB33;
  background-color: #222;
}